@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body{
    font-family:"poppins" sans-serif;
}




.container{
    width: 90%;
    margin: auto;
}
.nav-section{
    display: flex;
    justify-content: space-between;
}

.nav-contents ul{
    display: flex;
    justify-content: space-between; 
}

.nav-contents li{
    display:flex;
    margin-left: 40px; 
}


.login-button{
    margin-top: 10px;
    justify-content: center;
    
}


.login-button button{
    all: unset;
    padding: 6px 16px;
   
    color: white;
    font-weight: 500;
    background-color: #D01C28;

}
.nav-logo img{
    margin-top:10px;
}


.body-content{
    padding: 200px 200px;
}


